@charset "UTF-8";
/*iconos css*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*imports de scss*/
/*//INDEX//*/
/* variables globales*/
/* buscar más para optimizar*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

/* extends*/
.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 1.5vw;
  color: #aeeff8; }

.subTittle, #about, #games, #place, #contact {
  color: #cf6afa;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
/* nueva implementación de grilla main*/
#gridPadre {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 300px;
  grid-template-areas: "n1 videos" "objetivo objetivo";
  justify-items: center;
  align-items: center; }

#gridHijoUno {
  /* background-color: rgb(99, 243, 190); */
  grid-area: n1;
  width: 100%;
  height: 80%; }

#gridHijoDos {
  grid-area: videos;
  width: 80%;
  height: 80%; }

#gridHijoTres {
  grid-area: objetivo;
  width: 80%;
  height: 80%;
  /*falta más estilo y mas contenido*/ }

/* Nombre del estudio*/
main h1 {
  color: #50d8f0;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  padding-top: 200px; }

main h2 {
  color: #39c798;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  text-align: right; }

/*HEADER*/
/* Menu de navegación*/
.lista {
  width: 200px;
  height: 60px; }

/* Menu de navegación de la página*/
#menu:hover {
  /* quiero cambiar tamaño del recuadro*/
  background-color: #93e6f1;
  color: #161414;
  transition: background-color .5s; }

/*logo del estudio/home*/
#logo {
  width: 20%;
  height: 20%;
  /*en mobile, se ve muy chico */ }

.logoHome:hover {
  transform: scale(1.2, 1.2);
  transition: all .5s; }

/*FOOTER*/
footer h4 {
  color: #837e7e;
  text-align: center;
  font-size: 10px; }

footer .redesSociales {
  color: #50d8f0; }

.footer {
  background-color: #0f0f0f;
  height: 35vh; }

.haciaArriba {
  margin-left: 85vw; }

/* variables globales*/
/* buscar más para optimizar*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

/* extends*/
.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 1.5vw;
  color: #aeeff8; }

.subTittle, #about, #games, #place, #contact {
  color: #cf6afa;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
/**** ANIMACIONES ****/
/*ABOUT US*/
#job1:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#job2:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#job3:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b1:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b2:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b3:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

/*OUR GAMES/
        
    /*animaciones*/
.imGames:hover {
  transform: scale(1.2, 1.2); }

/*WORK WITH US*/
.button:hover, #btnApply:hover, #btnSend:hover {
  filter: grayscale(1); }

/**** Media Queries ****/
/* variables globales*/
/* buscar más para optimizar*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

/* extends*/
.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 1.5vw;
  color: #aeeff8; }

.subTittle, #about, #games, #place, #contact {
  color: #cf6afa;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
/****MOBILE****/
/* INDEX*/
@media only screen and (max-width: 600px) {
  #gridPadre {
    grid-template-columns: 100%;
    grid-template-rows: 400px 500px 400px;
    grid-template-areas: "n1" "videos" "objetivo";
    justify-items: center;
    align-items: center; }
  /*Nombre estudio*/
  main h1 {
    font-size: 15vw; }
  main h2 {
    font-size: 10vw; }
  main h3 {
    font-size: 15px; }
  #logo {
    width: 15%;
    height: 15%; }
  #tituloObjetivo {
    padding-bottom: 7px;
    font-size: 20px; }
  .parrafo, .parrafoIn, .parrafoAB {
    font-size: 10px; }
  footer h5 {
    font-size: 5vw; }
  /*ABOUT US*/ }

/*fin de media querie Mobile*/
/*//ABOUT US//*/
/*nueva implementación de grilla*/
#gridPadreAB {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 500px 300px 400px 300px 400px;
  grid-template-areas: "about1  about1 about1" "we we we" "believe1 believe2 believe3" "weB weB weB" "born1 born2 born3";
  height: 100%;
  width: 100%; }

#gridHijoUnoAB {
  /* background-color: aquamarine; */
  grid-area: about1;
  width: 100%;
  height: 100%; }

#gridHijoDosAB {
  background-color: rgba(124, 90, 248, 0.746);
  grid-area: we;
  width: 100%;
  height: 100%; }

#gridHijoTresAB {
  grid-area: weB;
  background-color: rgba(96, 243, 108, 0.746);
  width: 100%;
  height: 100%; }

.centrar {
  margin: auto;
  display: block; }

#imgIntro {
  justify-self: center;
  align-self: center; }

.img {
  width: 30vw;
  height: 40vh; }

#job1 {
  grid-area: believe1;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#job2 {
  grid-area: believe2;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#job3 {
  grid-area: believe3;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b1 {
  grid-area: born1;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b2 {
  grid-area: born2;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b3 {
  grid-area: born3;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

/* MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreAB {
    grid-template-columns: 100%;
    grid-template-rows: 400px 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "about1 " "we" "believe1" "believe2" "believe3" "weB" "born1" "born2" "born3"; }
  #about {
    font-size: 20px; }
  #imgIntro {
    width: 90vw; }
  .img {
    width: 70vw;
    height: 40vh; } }

/*TABLETS */
@media (max-width: 900px) and (min-width: 600px) {
  #gridPadreAB {
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "about1 about1" "we we" "believe1 believe2" "believe3 believe3" "webB webB" "born1 born2" "born3 born3"; }
  .img {
    width: 40vw;
    height: 30vh; } }

/*// OUR GAMES//*/
/* nueva implementación de grilla*/
#gridPadreOG {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 500px 500px 500px 500px 500px 200px;
  /* background-color: rgb(234, 170, 236); */
  grid-template-areas: "title title" "nameG1 game1" "game2 nameG2" "nameG3 game3" "game4 nameG4" "nameG5 game5" "playStore playStore";
  justify-items: center;
  /*cartas */
  align-items: center;
  /*cartas */ }

#title {
  grid-area: title;
  justify-self: start;
  margin-left: 5vw; }

#gridHijoUnoOG {
  /* background-color: rgb(47, 247, 180); */
  grid-area: nameG1;
  width: 100%;
  height: 100%; }

#gridHijoDosOG {
  grid-area: game1;
  width: 80%;
  height: 80%; }

#gridHijoTresOG {
  grid-area: game2;
  width: 80%;
  height: 80%; }

#gridHijoCuatroOG {
  grid-area: nameG2;
  /* background-color: rgb(49, 145, 209); */
  width: 100%;
  height: 100%; }

#gridHijoCincoOG {
  grid-area: nameG3;
  /* background-color: rgb(241, 226, 87); */
  width: 100%;
  height: 100%; }

#gridHijoSeisOG {
  grid-area: game3;
  /* background-color: rgb(198, 87, 226); */
  width: 80%;
  height: 80%; }

#gridHijoSieteOG {
  grid-area: game4;
  /* background-color: rgb(236, 71, 85); */
  width: 80%;
  height: 80%; }

#gridHijoOchoOG {
  grid-area: nameG4;
  /* background-color: rgb(46, 80, 235); */
  width: 100%;
  height: 100%; }

#gridHijoNueveOG {
  grid-area: nameG5;
  /* background-color: rgb(81, 88, 80); */
  width: 100%;
  height: 100%; }

#gridHijoDiezOG {
  grid-area: game5;
  /* background-color: rgb(82, 241, 77); */
  width: 80%;
  height: 80%; }

.label {
  grid-area: playStore;
  font-size: 20px;
  color: #8611f3;
  justify-self: center;
  padding-left: 30px; }

#nombreJuego {
  font-size: 30px; }

.card {
  background-color: rgba(176, 233, 243, 0.76);
  width: 80%;
  height: 80%;
  align-items: center;
  justify-items: center;
  margin-top: 4vw; }

.imGames {
  width: 100%;
  height: 100%;
  border-style: outset;
  transition: all 1s;
  object-fit: cover; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreOG {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 50px;
    /* background-color: rgb(234, 170, 236); */
    grid-template-areas: "title" "nameG1"  "game1" "nameG2" "game2" "nameG3" "game3" "nameG4" "game4"  "nameG5"  "game5" "playStore";
    justify-items: center;
    /*cartas */
    align-items: center;
    /*cartas */ }
  #nombreJuego {
    font-size: 15px; }
  #games {
    font-size: 20px; }
  .card {
    background-color: rgba(176, 233, 243, 0.76);
    width: 80%;
    height: 80%;
    align-items: center;
    justify-items: center;
    margin-top: 4vw; }
  .label {
    font-size: 12px; } }

/*// WORK WITH US//*/
/* nueva implementación de grilla*/
#gridPadreWwU {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 700px 350px 600px 100px;
  /* background-color: rgb(234, 170, 236); */
  grid-template-areas: "place1 place1 place1" "jobs1 jobs2 jobs3" "ben1 ben2 ben3" "cv cv cv";
  justify-items: center;
  /*cartas */
  align-items: center;
  /*cartas */ }

#gridHijoUnoWwU {
  /* background-color: rgb(47, 247, 180); */
  grid-area: place1;
  width: 100%;
  height: 100%; }

#gridHijoDosWwU {
  background-color: #d49ef0;
  grid-area: jobs1;
  width: 80%;
  height: 80%; }

#gridHijoTresWwU {
  background-color: #9d84f5;
  grid-area: jobs2;
  width: 80%;
  height: 80%; }

#gridHijoCuatroWwU {
  grid-area: jobs3;
  background-color: #3191d1;
  width: 80%;
  height: 80%; }

#gridHijoCincoWwU {
  grid-area: ben1;
  background-color: #f1e257;
  width: 100%;
  height: 100%; }

#gridHijoSeisWwU {
  grid-area: ben2;
  background-color: #de7ef7;
  width: 100%;
  height: 100%; }

#gridHijoSieteWwU {
  grid-area: ben3;
  background-color: #8cf577;
  width: 100%;
  height: 100%; }

#gridCV {
  grid-area: cv;
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */ }

#subTitleH4 {
  color: #2e2bf3;
  font-size: 25px;
  text-align: center;
  padding-top: 20px; }

#subTitleH5 {
  color: #910bf7;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

#beneficts {
  margin: 80px 80px 80px 80px;
  padding: 0px 10px 0px 10px;
  height: 500px; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreWwU {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 400px 400px 400px 300px 300px 300px 200px;
    /* background-color: rgb(234, 170, 236); */
    grid-template-areas: "place1" "jobs1"  "jobs2"  "jobs3" "ben1"  "ben2"  "ben3" "cv"; }
  #gridHijoDosWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #gridHijoTresWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #gridHijoCuatroWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #place {
    font-size: 20px; }
  #subTitleH4 {
    font-size: 15px; }
  #subTitleH5 {
    font-size: 10px; }
  #beneficts {
    width: 80vw;
    height: 50vh;
    margin: 30px 50px 30px 80px;
    padding: 0px 10px 0px 10px; }
  #gridCV {
    grid-area: cv;
    width: 90%;
    height: 200px; }
  .label {
    font-size: 10px;
    color: #8611f3;
    justify-self: center;
    padding-left: 30px; } }

/*TABLETS */
@media (max-width: 900px) and (min-width: 600px) {
  #gridPadreWwU {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 400px 400px 300px 300px 200px;
    /* background-color: rgb(234, 170, 236); */
    grid-template-areas: "place1 place1" "jobs1 jobs2"  "jobs3 jobs3" "ben1 ben2"  "ben3 ben3" "cv cv"; }
  #gridHijoDosWwU {
    width: 90%;
    height: 80%;
    font-size: 10px; }
  #gridHijoTresWwU {
    width: 90%;
    height: 80%;
    font-size: 10px; }
  #gridHijoCuatroWwU {
    width: 50%;
    height: 80%;
    font-size: 10px; }
  #gridHijoCincoWwU {
    width: 95%;
    height: 90%;
    font-size: 15px; }
  #gridHijoSeisWwU {
    width: 95%;
    height: 90%;
    font-size: 15px; }
  #gridHijoSieteWwU {
    width: 50%;
    height: 90%;
    font-size: 15px; }
  #place {
    font-size: 30px; }
  .card {
    width: 50%;
    height: 80%; }
  #subTitleH4 {
    font-size: 15px; }
  #subTitleH5 {
    font-size: 15px; }
  #beneficts {
    width: 100%;
    height: 100%;
    margin: 30px 20px 0px 30px;
    padding: 0px 10px 0px 10px; }
  #gridCV {
    grid-area: cv;
    width: 90%;
    height: 200px; }
  .label {
    font-size: 15px; } }

/*// CONTAC//*/
#gridPadreC {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 500px;
  /* background-color: rgb(255, 255, 255); */
  grid-template-areas: "title title" "form form";
  justify-items: center;
  /*cartas */
  align-items: center;
  /* cartas */ }

#gridHijoUnoC {
  /* background-color: rgb(126, 238, 62);  */
  grid-area: title;
  width: 100%;
  height: 100%; }

#gridHijoDosC {
  /* background-color: rgb(237, 188, 243); */
  grid-area: form;
  width: 80%;
  height: 90%; }

textarea {
  height: 100px;
  width: 80%; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #contact {
    font-size: 20px; } }

/* Reseteo de CSS*/
* {
  margin: 0;
  padding: 0; }

/* fondo de la página*/
body {
  background-image: url(/img/assets/fondoAlt.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed; }
