@charset "UTF-8";
/*iconos css*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*imports de scss*/
/*//INDEX//*/
/* variables globales*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 30px;
  color: #aeeff8;
  font-style: italic; }

.subTittle, #about, #games, #place, #contact {
  color: #ecdef1;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px;
  font-weight: bold; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
#gridPadre {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 300px;
  grid-template-areas: "n1 videos" "objetivo objetivo";
  justify-items: center;
  align-items: center; }

#gridHijoUno {
  grid-area: n1;
  width: 100%;
  height: 80%; }

#gridHijoDos {
  grid-area: videos;
  width: 80%;
  height: 80%; }

#gridHijoTres {
  grid-area: objetivo;
  width: 80%;
  height: 80%; }

/* Nombre del estudio*/
main h1 {
  color: #50d8f0;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  padding-top: 200px;
  font-weight: bold; }

main h2 {
  color: #a9eedf;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  text-align: right;
  font-weight: bold; }

.carousel-item > iframe {
  min-width: 100%;
  height: 30rem; }

/*HEADER*/
/* Menu de navegación*/
.lista {
  width: 200px;
  height: 60px; }

/* Menu de navegación de la página*/
#menu:hover {
  background-color: #93e6f1;
  color: #161414;
  transition: background-color .5s; }

/*logo del estudio/home*/
#logo {
  width: 20%;
  height: 20%; }

.logoHome:hover {
  transform: scale(1.2, 1.2);
  transition: all .5s; }

/*FOOTER*/
footer h4 {
  color: #837e7e;
  text-align: center;
  font-size: 10px; }

footer .redesSociales {
  color: #50d8f0; }

.footer {
  background-color: #0f0f0f;
  height: 35vh; }

.haciaArriba {
  margin-left: 85vw; }

/* variables globales*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 30px;
  color: #aeeff8;
  font-style: italic; }

.subTittle, #about, #games, #place, #contact {
  color: #ecdef1;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px;
  font-weight: bold; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
/**** ANIMACIONES ****/
/*ABOUT US*/
#job1:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#job2:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#job3:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b1:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b2:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

#b3:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0); }

/*OUR GAMES/
        
    /*animaciones*/
.imGames:hover {
  transform: scale(1.2, 1.2); }

/*WORK WITH US*/
.button:hover, #btnApply:hover, #btnSend:hover {
  filter: grayscale(1); }

/**** Media Queries ****/
/* variables globales*/
/*quita subrayado de los enlaces*/
.subrayado {
  text-decoration: none; }

/*color para los enlaces y algunos iconos*/
.color {
  color: #50d8f0;
  font-size: 20px; }

.parrafo, .parrafoIn, .parrafoAB {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 30px;
  color: #aeeff8;
  font-style: italic; }

.subTittle, #about, #games, #place, #contact {
  color: #ecdef1;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  padding: 50px 0px 40px 40px;
  font-weight: bold; }

.tittleH3, main h3, footer h5, #nombreJuego {
  text-align: center;
  color: #ef4ff5;
  padding: 50px 0px 20px 40px; }

.button, #btnApply, #btnSend {
  color: aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to top, #4A00E0, #8E2DE2); }

/*mixin media queries*/
/****MOBILE****/
@media only screen and (max-width: 600px) {
  #gridPadre {
    grid-template-columns: 100%;
    grid-template-rows: 400px 300px 400px;
    grid-template-areas: "n1" "videos" "objetivo";
    justify-items: center;
    align-items: center; }
  /*Nombre estudio*/
  main h1 {
    font-size: 8vw; }
  main h2 {
    font-size: 6vw; }
  main h3 {
    text-align: center;
    color: #ef4ff5;
    padding: 100px 40px 0px 0px;
    font-size: 6vw; }
  #logo {
    width: 15%;
    height: 15%; }
  .parrafoIn {
    padding: 30px 0px 0px 30px;
    font-size: 15px; }
  footer h5 {
    font-size: 5vw; }
  .carousel-item > iframe {
    min-width: 100%;
    height: 20rem; } }

/*fin de media querie Mobile*/
/*TABLETS */
@media (max-width: 900px) and (min-width: 600px) {
  .parrafoIn {
    padding: 30px 20px 0px 30px;
    font-size: 25px; } }

/*//ABOUT US//*/
/*nueva implementación de grilla*/
#gridPadreAB {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 500px 300px 400px 300px 400px;
  grid-template-areas: "about1  about1 about1" "we we we" "believe1 believe2 believe3" "weB weB weB" "born1 born2 born3";
  height: 100%;
  width: 100%; }

#gridHijoUnoAB {
  grid-area: about1;
  width: 100%;
  height: 100%; }

#gridHijoDosAB {
  background-color: rgba(8, 8, 8, 0.897);
  grid-area: we;
  width: 100%;
  height: 100%; }

#gridHijoTresAB {
  grid-area: weB;
  background-color: rgba(8, 8, 8, 0.897);
  width: 100%;
  height: 100%; }

.parrafoAB {
  font-size: 25px;
  font-style: unset;
  padding: 0px 80px 0px 80px; }

.centrar {
  margin: auto;
  display: block; }

#imgIntro {
  justify-self: center;
  align-self: center; }

.img {
  width: 30vw;
  height: 40vh; }

#job1 {
  grid-area: believe1;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#job2 {
  grid-area: believe2;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#job3 {
  grid-area: believe3;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b1 {
  grid-area: born1;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b2 {
  grid-area: born2;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

#b3 {
  grid-area: born3;
  justify-self: center;
  align-self: center;
  transition: all 1s;
  filter: grayscale(1); }

/* MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreAB {
    grid-template-columns: 100%;
    grid-template-rows: 400px 500px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "about1 " "we" "believe1" "believe2" "believe3" "weB" "born1" "born2" "born3"; }
  #about {
    font-size: 20px; }
  #imgIntro {
    width: 60vw; }
  .img {
    width: 60vw;
    height: 30vh; }
  .parrafoAB {
    font-size: 15px; } }

/*TABLETS */
@media (max-width: 900px) and (min-width: 600px) {
  #gridPadreAB {
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 400px 400px 300px 400px 400px;
    grid-template-areas: "about1 about1" "we we" "believe1 believe2" "believe3 believe3" "webB webB" "born1 born2" "born3 born3"; }
  .parrafoAB {
    font-size: 20px; }
  .img {
    width: 40vw;
    height: 30vh; } }

/*// OUR GAMES//*/
#gridPadreOG {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 500px 500px 500px 500px 500px 200px;
  grid-template-areas: "title title" "nameG1 game1" "game2 nameG2" "nameG3 game3" "game4 nameG4" "nameG5 game5" "playStore playStore";
  justify-items: center;
  align-items: center; }

#title {
  grid-area: title;
  justify-self: start;
  margin-left: 5vw; }

#gridHijoUnoOG {
  grid-area: nameG1;
  width: 100%;
  height: 100%; }

#gridHijoDosOG {
  grid-area: game1;
  width: 80%;
  height: 80%; }

#gridHijoTresOG {
  grid-area: game2;
  width: 80%;
  height: 80%; }

#gridHijoCuatroOG {
  grid-area: nameG2;
  width: 100%;
  height: 100%; }

#gridHijoCincoOG {
  grid-area: nameG3;
  width: 100%;
  height: 100%; }

#gridHijoSeisOG {
  grid-area: game3;
  width: 80%;
  height: 80%; }

#gridHijoSieteOG {
  grid-area: game4;
  width: 80%;
  height: 80%; }

#gridHijoOchoOG {
  grid-area: nameG4;
  width: 100%;
  height: 100%; }

#gridHijoNueveOG {
  grid-area: nameG5;
  width: 100%;
  height: 100%; }

#gridHijoDiezOG {
  grid-area: game5;
  width: 80%;
  height: 80%; }

.label {
  grid-area: playStore;
  font-size: 20px;
  color: #dfc7f7;
  justify-self: center;
  padding-left: 30px; }

section label a {
  color: #c1d8ec; }

#nombreJuego {
  font-size: 30px; }

.card {
  background-color: rgba(12, 12, 12, 0.76);
  width: 80%;
  height: 80%;
  align-items: center;
  justify-items: center;
  margin-top: 4vw; }

.imGames {
  width: 100%;
  height: 100%;
  border-style: outset;
  transition: all 1s;
  object-fit: cover; }

.card-text {
  color: #ded7ce;
  font-size: 20px; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreOG {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 50px;
    grid-template-areas: "title" "nameG1"  "game1" "nameG2" "game2" "nameG3" "game3" "nameG4" "game4"  "nameG5"  "game5" "playStore";
    justify-items: center;
    align-items: center; }
  #nombreJuego {
    font-size: 20px; }
  #games {
    font-size: 20px; }
  .card {
    background-color: rgba(12, 12, 12, 0.76);
    width: 80%;
    height: 80%;
    align-items: center;
    justify-items: center;
    margin-top: 4vw; }
  .label {
    font-size: 12px; }
  .card-text {
    font-size: 15px; } }

/*// WORK WITH US//*/
#gridPadreWwU {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 700px 300px 600px 200px;
  /* background-color: rgb(234, 170, 236); */
  grid-template-areas: "place1 place1 place1" "jobs1 jobs2 jobs3" "ben1 ben2 ben3" "cv cv cv";
  justify-items: center;
  align-items: center; }

#gridHijoUnoWwU {
  grid-area: place1;
  width: 100%;
  height: 100%; }

#gridHijoDosWwU {
  background-color: rgba(8, 105, 196, 0.692);
  grid-area: jobs1;
  width: 80%;
  height: 80%; }

#gridHijoTresWwU {
  background-color: rgba(8, 105, 196, 0.692);
  grid-area: jobs2;
  width: 80%;
  height: 80%; }

#gridHijoCuatroWwU {
  grid-area: jobs3;
  background-color: rgba(8, 105, 196, 0.692);
  width: 80%;
  height: 80%; }

#gridHijoCincoWwU {
  grid-area: ben1;
  background-color: #00060a;
  width: 100%;
  height: 100%; }

#gridHijoSeisWwU {
  grid-area: ben2;
  background-color: #00060a;
  width: 100%;
  height: 100%; }

#gridHijoSieteWwU {
  grid-area: ben3;
  background-color: #00060a;
  width: 100%;
  height: 100%; }

#gridCV {
  grid-area: cv;
  width: 100%;
  height: 100%; }

#subTitleH4 {
  color: #9e9df3;
  font-size: 25px;
  text-align: center;
  padding-top: 20px; }

#subTitleH5 {
  color: #cfa0f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

#beneficts {
  margin: 80px 80px 80px 80px;
  padding: 0px 10px 0px 10px;
  height: 400px;
  color: #f114f8; }

.card-title {
  color: #c9b4de;
  font-weight: bold; }

.parrafoWork {
  line-height: 1.5;
  padding: 0px 50px 0px 30px;
  font-size: 20px;
  color: #aeeff8; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #gridPadreWwU {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 400px 400px 400px 300px 300px 300px 200px;
    grid-template-areas: "place1" "jobs1"  "jobs2"  "jobs3" "ben1"  "ben2"  "ben3" "cv"; }
  #gridHijoDosWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #gridHijoTresWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #gridHijoCuatroWwU {
    width: 90%;
    height: 85%;
    font-size: 10px; }
  #place {
    font-size: 20px; }
  #subTitleH4 {
    font-size: 15px; }
  #subTitleH5 {
    font-size: 10px; }
  #beneficts {
    width: 80vw;
    height: 50vh;
    margin: 30px 50px 30px 80px;
    padding: 0px 10px 0px 10px; }
  #gridCV {
    grid-area: cv;
    width: 80%;
    height: 200px; }
  .label {
    font-size: 10px; } }

/*TABLETS */
@media (max-width: 900px) and (min-width: 600px) {
  #gridPadreWwU {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 300px 300px 300px 300px 200px;
    grid-template-areas: "place1 place1" "jobs1 jobs2"  "jobs3 jobs3" "ben1 ben2"  "ben3 ben3" "cv cv"; }
  #gridHijoDosWwU {
    width: 90%;
    height: 80%;
    font-size: 10px; }
  #gridHijoTresWwU {
    width: 90%;
    height: 80%;
    font-size: 10px; }
  #gridHijoCuatroWwU {
    width: 50%;
    height: 80%;
    font-size: 10px; }
  #gridHijoCincoWwU {
    width: 95%;
    height: 90%;
    font-size: 15px; }
  #gridHijoSeisWwU {
    width: 95%;
    height: 90%;
    font-size: 15px; }
  #gridHijoSieteWwU {
    width: 50%;
    height: 90%;
    font-size: 15px; }
  #place {
    font-size: 30px; }
  .card {
    width: 50%;
    height: 80%; }
  #subTitleH4 {
    font-size: 15px; }
  #subTitleH5 {
    font-size: 15px; }
  #beneficts {
    width: 100%;
    height: 100%;
    margin: 30px 20px 0px 30px;
    padding: 0px 10px 0px 10px; }
  #gridCV {
    grid-area: cv;
    width: 90%;
    height: 200px; }
  .label {
    font-size: 15px; } }

/*// CONTAC//*/
#gridPadreC {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 500px;
  grid-template-areas: "title title" "form form";
  justify-items: center;
  align-items: center; }

#gridHijoUnoC {
  grid-area: title;
  width: 100%;
  height: 100%; }

#gridHijoDosC {
  grid-area: form;
  width: 60%;
  height: 90%; }

textarea {
  height: 100px;
  width: 80%; }

.form-control {
  margin-top: 20px; }

#btnSend {
  margin-top: 20px; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  #contact {
    font-size: 25px; } }

/* Reseteo de CSS*/
* {
  margin: 0;
  padding: 0; }

/* fondo de la página*/
body {
  background-image: url(/img/assets/fondoAlt.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed; }
