/*//ABOUT US//*/

        .logoHome:hover{
            transform: scale(1.2,1.2);
            transition: all .5s;
        }

        /* nueva implementación de grilla*/
        #gridPadreAB{
            display: grid;
            grid-template-columns: 33% 33% 34% ;
            grid-template-rows:500px 300px 400px 300px 400px;
            /* background-color: rgb(234, 170, 236); */
            grid-template-areas:"about1  about1 about1"
                                "we we we"
                                "believe1 believe2 believe3"
                                "weB weB weB"
                                "born1 born2 born3";
            height: 100%;
            width: 100%;
            
            /* justify-items: center;
            align-items:center;  en que influye esto?   */
        }
    
        #gridHijoUnoAB {
            /* background-color: aquamarine; */
            grid-area: about1;
            width: 100%;
            height: 100%;
        }
    
        #gridHijoDosAB {
            background-color: rgb(125, 90, 248);
            grid-area: we; 
            width: 100%;
            height: 100%;
        }
    
        #gridHijoTresAB{
            grid-area: weB; 
            background-color: rgb(241, 215, 64);
            width: 100%;
            height: 100%;
        }
    
        .parrafoAB{
            line-height: 1.5;
            padding: 0px 100px 0px 100px;
        }

        .subTittle{
            color: rgb(196, 91, 241);
            font-style:normal;
            font-family:'Roboto', sans-serif;
            font-size: 100px;
            text-align: left;
            padding: 0px 0px 40px 40px;
        }         

        .centrar{
            margin:auto;
            display:block;
        }
    
        .tamaño{
            width:30vw;
            height:40vh;
        }
    
        #imgIntro{
            justify-self:center;
            align-self:center;
        }

        #job1{
            grid-area: believe1;
            justify-self: center;
            align-self: center; 
            transition: all 1s;;
            filter: grayscale(1);
        }

        #job2{
            grid-area: believe2;
            justify-self: center;
            align-self: center;
            transition: all 1s;;
            filter: grayscale(1);
        }

        #job3{
            grid-area: believe3;
            justify-self: center;
            align-self: center;
            transition: all 1s;;
            filter: grayscale(1);
        }

        #b1{
            grid-area: born1;
            justify-self: center;
            align-self: center; 
            transition: all 1s;;
            filter: grayscale(1);
        }

        #b2{
            grid-area: born2;
            justify-self: center;
            align-self: center;
            transition: all 1s;;
            filter: grayscale(1);
        }

        #b3{
            grid-area: born3;
            justify-self: center;
            align-self: center;
            transition: all 1s;;
            filter: grayscale(1);
        }

        /* encontrar una mejor manera de poner diseño en las imagenes, no se hizo un sólo id, por que están ubicadas en diferentes areas*/

