/*//ABOUT US//*/

/*nueva implementación de grilla*/
#gridPadreAB{
    display: grid;
    grid-template-columns: 33% 33% 34% ;
    grid-template-rows:500px 300px 400px 300px 400px;
    grid-template-areas:"about1  about1 about1"
                        "we we we"
                        "believe1 believe2 believe3"
                        "weB weB weB"
                        "born1 born2 born3";
    height: 100%;
    width: 100%;
}


#gridHijoUnoAB{
    /* background-color: aquamarine; */
    grid-area: about1;
    width: 100%;
    height: 100%;
}
    
#gridHijoDosAB {
    background-color: rgba(124, 90, 248, 0.746);
    grid-area: we; 
    width: 100%;
    height: 100%;
}
    
#gridHijoTresAB{
    grid-area: weB; 
    background-color: rgba(96, 243, 108, 0.746);
    width: 100%;
    height: 100%;
}
    
.parrafoAB{ 
    @extend .parrafo;
}

#about{
    @extend .subTittle;
}

.centrar{
    margin:auto;
    display:block;
}
    

#imgIntro{
    justify-self:center;
    align-self:center;
}


#job1{
    @extend .img;
    grid-area: believe1;
}

#job2{
    @extend .img;
    grid-area: believe2;
}

#job3{
    @extend .img;
    grid-area: believe3;
}

#b1{
    @extend .img;
    grid-area: born1;
}

#b2{
    @extend .img;
    grid-area: born2;
}

#b3{
    @extend .img;
    grid-area: born3;
}
