/*HEADER*/
#navbarNav{
    /* background-color: rgb(147, 230, 241); */
    // color: rgb(22, 20, 20);
    // transition: background-color .5s;
}

/* Menu de navegación de la página*/
#menu:hover{
    /* quiero cambiar tamaño del recuadro*/
    background-color: rgb(147, 230, 241);
    // color: rgb(22, 20, 20);
    transition: background-color .5s;
}

/*logo del estudio/home*/
#logo {    
    width:20%;
    height:20%;
    /*en mobile, se ve muy chico */
}


/*FOOTER*/
footer {
    //copyright
    h4{
        color: rgb(131, 126, 126);
        text-align: center; 
        font-size: 10px;
    }
    //join our comunity
    h5{
        color: $colorTittle; 
        font-size:2vw;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}