:root{
/* variables globales*/
 $colorLetras: rgb(80, 216, 240);
 $colorTittle: rgb(239, 79, 245);
 $widthCard: 80%;
 $heightCard: 80%;
 $fontSizeParrafo: 1.5vw;
 $fontFamily: 'Roboto', sans-serif;
 /* buscar más para optimizar*/
}      

