
/*iconos css*/
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"); 

/*imports de scss*/
    @import "index";
    @import "header&footer";
    @import "variables";

    @import "aboutUs";
    @import "ourGames";
    @import "workWithus";
    @import "contact";

/* Reseteo de CSS*/
  * {
        margin: 0;
        padding: 0;
    }

/* falta imagen de fondo*/
        
        /* body{

        background-image: url(/img/assets/fondoPagina.jpg);
        background-size: 100vw 100vh; 
        background-attachment: fixed; */ 

        /* background-image: linear-gradient(to bottom, rgb(27, 5, 5), rgb(73, 196, 233));
        /* }  */

/*quita subrayado de los enlaces*/
.subrayado{
    text-decoration: none;
} 

/*color para los enlaces y algunos iconos*/
.color{
    color :$colorLetras;
    font-size: 20px;              
} 




