    /*iconos css*/
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"); 

    .bi{
        color: rgb(80, 216, 240);
        font-size: 20px;              
    }

/* Reseteo de CSS*/
    *{
        margin: 0;
        padding: 0;
    }


    /* falta imagen de fondo*/
        
        body{

        /* background-image: url(/Proyecto\ con\ grid/img/assets/fondoPagina.jpg); */
        /* background-size: 100vw 100vh; */
        /* background-attachment: fixed; */

        /* background-image: linear-gradient(to bottom, rgb(27, 5, 5), rgb(73, 196, 233)); */
        } 



/*//INDEX//*/

    #navbarNav{
        /* background-color: rgb(147, 230, 241); */
        color: rgb(22, 20, 20);
        transition: background-color .5s;
    }

    /* Menu de navegación de la página*/
    #menu ul a li:hover{
        /* quiero cambiar tamaño del recuadro*/
        background-color: rgb(147, 230, 241);
        color: rgb(22, 20, 20);
        transition: background-color .5s;
    }

    /*quita subrayado de los enlaces*/
    .subrayado{
        text-decoration: none;
    }

    header{
        background-color: rgb(32, 29, 29);
        display: flex;
        justify-content: end;
        align-items: end;
    }

    /*logo del estudio/home*/
    #logo {    
        /* alinear a la izquierda, no se como*/
        width:8%;
        height:10%;
    }

    /* Menu de navegación*/
    header nav ul {
        display: flex;
        justify-content:right;
        list-style-type: none;
        column-gap: 10px;
    }

    nav ul li{
        color: rgb(38, 202, 231);
        padding: 0px 40px 40px 0px ;
        font-size: 1.5vw;
    }



    /* nueva implementación de grilla main*/
    #gridPadre{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:500px 500px;
        /* background-color: rgb(230, 117, 245); */
        
        grid-template-areas: "n1 videos"
                            "objetivo emty";  
        justify-items: center;
        align-items:center;
    }

    #gridHijoUno{

        /* background-color: rgb(99, 243, 190); */
        grid-area: n1;
        width: 100%;
        height: 80%;
    }

    #gridHijoDos {

        background-color: rgb(77, 34, 235);
        grid-area: videos;
        width: 80%;
        height: 80%;
        /* display: flex;
        flex-direction: column; */
    }

    #gridHijoTres{
        background-color: rgb(217, 91, 248);
        grid-area: objetivo;
        width: 80%;
        height: 80%;
        /*falta más estilo y mas contenido*/
    }

    

    /* Nombre del estudio*/
    main h1{
        color: rgb(31, 193, 214);
        font-style:normal;
        font-family:'Roboto', sans-serif;
        font-size: 5vw ;
        padding: 200px 0px 0px 30px;
        }

    main h2{
        color: rgb(57, 199, 152);
        font-style:normal;
        font-family:'Roboto', sans-serif;
        font-size: 3vw;
        text-align: right;
    }

    /* Videos*/
    iframe{
        /* width: 100%; */
        height: 100%;
    }


    /*Objective and vision*/
    /*falta dar más formato*/

    #tituloObjetivo{
        text-align: left;
        padding-bottom: 50px;
        color: blueviolet;
        font-size: 25px;
    }

    .tituloH3{
        text-align: center;
        color: rgb(184, 100, 230);
        padding-top: 0px;
        padding-bottom: 0px;
        }

    .parrafo{
        line-height: 1.5;
        padding: 0px 50px 0px 30px;
    }

    .footer{
        background-color:rgb(15, 15, 15);
        height: 200px;
    }

    footer h5{
        /*go to top debe ir del lado derecho*/
        /* necesito alinear el titulo sobre los iconos*/
        color: rgb(205, 144, 252);
        font-size:2vw;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        }

    i{
        height: 40px;
        width: 40px;
        color: rgb(129, 245, 245);
        margin-left: 100px;
        border-radius: 50%;
        
        /*quiero cambiar de tamaño los iconos y que queden alineados en el centro*/
    }

    footer h4{
            color: rgb(131, 126, 126);
            text-align: center; 
            font-size: 10px;
    }

    .haciaArriba{
        color: aqua;
        margin-left: 85vw;

        /*con que es mejor  alinear Go to top a la derecha? poner un icono en vez de titulo*/
    }



/*//ABOUT US//*/

        /* nueva implementación de grilla*/
        #gridPadreAB{
            display: grid;
            grid-template-columns: 33% 33% 34% ;
            grid-template-rows:500px 300px 400px 300px 400px;
            /* background-color: rgb(234, 170, 236); */
            grid-template-areas:"about1  about1 about1"
                                "we we we"
                                "believe1 believe2 believe3"
                                "weB weB weB"
                                "born1 born2 born3";
            height: 100%;
            width: 100%;
            
            /* justify-items: center;
            align-items:center;  en que influye esto?   */
        }
    
        #gridHijoUnoAB {
            /* background-color: aquamarine; */
            grid-area: about1;
            width: 100%;
            height: 100%;
        }
    
        #gridHijoDosAB {
            background-color: rgb(125, 90, 248);
            grid-area: we; 
            width: 100%;
            height: 100%;
        }
    
        #gridHijoTresAB{
            grid-area: weB; 
            background-color: rgb(241, 215, 64);
            width: 100%;
            height: 100%;
        }
    
        .parrafoAB{
            line-height: 1.5;
            padding: 0px 100px 0px 100px;
        }

        .claseH3{
            color: rgb(196, 91, 241);
            font-style:normal;
            font-family:'Roboto', sans-serif;
            font-size: 50px;
            text-align: left;
            padding: 0px 0px 40px 40px;
        }         
    
    
        .centrar{
            margin:auto;
            display:block;
        }
    
    
        .tamaño{
            width:30vw;
            height:40vh;
        }
    
    
        #imgIntro{
            justify-self:center;
            align-self:center;
        }


        #job1{
            grid-area: believe1;
            justify-self: center;
            align-self: center; 

            transition: all 1s;;
            filter: grayscale(1);
        }

        #job2{
            grid-area: believe2;
            justify-self: center;
            align-self: center;

            transition: all 1s;;
            filter: grayscale(1);
        }

        #job3{
            grid-area: believe3;
            justify-self: center;
            align-self: center;

            transition: all 1s;;
            filter: grayscale(1);
        }

        #b1{
            grid-area: born1;
            justify-self: center;
            align-self: center; 

            transition: all 1s;;
            filter: grayscale(1);
        }

        #b2{
            grid-area: born2;
            justify-self: center;
            align-self: center;

            transition: all 1s;;
            filter: grayscale(1);
        }

        #b3{
            grid-area: born3;
            justify-self: center;
            align-self: center;

            transition: all 1s;;
            filter: grayscale(1);
        }

        /* encontrar una mejor manera de poner diseño en las imagenes, no se hizo un sólo id, por que están ubicadas en diferentes areas*/



/*// OUR GAMES//*/

    /* nueva implementación de grilla*/
    #gridPadreOG{

        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:500px 500px 500px 500px 500px 200px;
        /* background-color: rgb(234, 170, 236); */
        grid-template-areas:"nameG1 game1"
                            "game2 nameG2"
                            "nameG3 game3"
                            "game4 nameG4"
                            "nameG5 game5"
                            "playStore playStore"; /* existe forma de no poner tantos hijos?*/
        justify-items: center; /*cartas */
        align-items:center; /*cartas */
        }


    #gridHijoUnoOG {
        /* background-color: rgb(47, 247, 180); */
        grid-area: nameG1;
        width: 100%;
        height: 100%;
        /* falta centrar*/
    }


    #gridHijoDosOG {
        background-color: rgb(33, 31, 34);
        grid-area: game1;
        width: 80%;
        height: 80%;
        justify-self: center;
        align-self: center; /* no se centra dentro del hijo?*/
    }

    #gridHijoTresOG {
        background-color: rgb(83, 48, 211);
        grid-area: game2;
        width: 80%;
        height: 80%;
    }

    #gridHijoCuatroOG{
        grid-area: nameG2;
        /* background-color: rgb(49, 145, 209); */
        width: 100%;
        height: 100%;
    }


    #gridHijoCincoOG{
        grid-area: nameG3;
        /* background-color: rgb(241, 226, 87); */
        width: 100%;
        height: 100%;
    }

    #gridHijoSeisOG{
        grid-area: game3;
        /* background-color: rgb(198, 87, 226); */
        width: 80%;
        height: 80%;
    }

    #gridHijoSieteOG{
        grid-area: game4;
        /* background-color: rgb(236, 71, 85); */
        width: 80%;
        height: 80%;
    }

    #gridHijoOchoOG{
        grid-area: nameG4;
        /* background-color: rgb(46, 80, 235); */
        width: 100%;
        height: 100%;
    }

    #gridHijoNueveOG{
        grid-area: nameG5;
        /* background-color: rgb(81, 88, 80); */
        width: 100%;
        height: 100%;
    }

    #gridHijoDiezOG{
        grid-area: game5;
        /* background-color: rgb(82, 241, 77); */
        width: 80%;
        height: 80%;
    }

    .label{
        grid-area: playStore;
        font-size: 20px;
        color: rgb(134, 17, 243);
        justify-self:center;
        padding-left: 30px;
        /* buscar decoración*/
    }

    .card {
        height: 80%;
        width: 80%;
    }

    #imgJuego{
        width: 100%;
        height: 100%;
        border-style: outset;
        
        transition: all 1s;
        object-fit: cover; /*mantiene resolución*/

    }


    #nombreJuego {
        color: rgb(42, 54, 224);
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
        /* si le ponia h4, se escondia detras de la carta 2*/
    }

    .parrafoOG{
        line-height: 1.5;
        padding: 60px 100px 0px 100px;
        text-align: center;
    }


    #icon{

        /* quiero centrarlos*/
    }



    /*// WORK WITH US//*/


    /* nueva implementación de grilla*/
    #gridPadreWwU{
        display: grid;
        grid-template-columns:33% 33% 34%;
        grid-template-rows:700px 300px 700px 100px;
        /* background-color: rgb(234, 170, 236); */
        grid-template-areas:"place1 place1 place1"
                            "jobs1 jobs2 jobs3"
                            "ben1 ben2 ben3"
                            "cv cv cv";
        justify-items: center; /*cartas */
        align-items:center; /*cartas */
        }


    #gridHijoUnoWwU {
        /* background-color: rgb(47, 247, 180); */
        grid-area: place1;
        width: 100%;
        height: 100%;
    }

    #gridHijoDosWwU {
        background-color: rgb(212, 158, 240);
        grid-area: jobs1;
        width: 80%;
        height: 80%;
    }

    #gridHijoTresWwU {
        background-color: rgb(157, 132, 245);
        grid-area: jobs2;
        width:  80%;
        height: 80%;
    }

    #gridHijoCuatroWwU{
        grid-area: jobs3;
        background-color: rgb(49, 145, 209);
        width: 80%;
        height: 80%;
    }


    #gridHijoCincoWwU{
        grid-area: ben1;
        background-color: rgb(241, 226, 87);
        width: 100%;
        height: 100%;
    }

    #gridHijoSeisWwU{
        grid-area: ben2;
        background-color: rgb(222, 126, 247);
        width: 100%;
        height: 100%;
    }

    #gridHijoSieteWwU{
        grid-area: ben3;
        background-color: rgb(140, 245, 119);
        width: 100%;
        height: 100%;
    }

    #gridCV{
        grid-area: cv;
        width: 100%;
        height: 100%;
        /* background-color: antiquewhite; */
        /* alinear estooo*/
    }


    #subTitleH4{
        /* necesito alinear el titulo sobre los iconos*/
        color: rgb(46, 43, 243);
        font-size:25px;
        text-align: center;
        padding-top: 20px;
        }


    #subTitleH5{
        color: rgb(145, 11, 247);
        font-size:15px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        }

        li {
            text-align: center;
            color:aliceblue;
        }


        #beneficts{
            margin:80px 80px 80px 80px;
            padding: 0px 10px 0px 10px;
            height: 500px;
        }
    
        #button{
            color: aliceblue;
            height: 30px;
            width: 100px;            
            background-image: linear-gradient(to top, #4A00E0, #8E2DE2);
            /* alinear los que están dentro de los jobs*/
        }
    /* falta estilo a los labels e inputs*/


/*// CONTAC//*/

    /* nueva implementación de grilla*/
    #gridPadreC{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:200px 500px;
         /* background-color: rgb(255, 255, 255); */
        grid-template-areas:"title title"
                            "form form";
        justify-items: center; /*cartas */
        align-items:center; /* cartas */
        }


    #gridHijoUnoC {
            /* background-color: rgb(126, 238, 62);  */
            grid-area: title;
            width: 100%;
            height: 100%;
        }

    #gridHijoDosC {
            /* falta dar estilo de formulario*/
            /* background-color: rgb(237, 188, 243); */
            grid-area: form;
            width: 80%;
            height: 90%;
        }

        textarea{
        height:100px;
        width:80%;
        }

    /* falta estilo formulario*/



    /**** Media Queries ****/

    /*MOBILE*/

        @media only screen and (max-width:600px){

            /*INDEX*/
                /* header y footer arreglar,h4*/
            #gridPadre {
                grid-template-columns:100%;
                grid-template-rows:500px 500px 400px;
                grid-template-areas: "n1"
                                    "videos"
                                    "objetivo";                      
                justify-items: center;
                align-items:center;
            }

            /*Nombre estudio*/

            main h1{
                font-size: 10vw ;
            }
            
            main h2{
                font-size: 8vw;
            }

            #logo {
                /* alinear a la izquierda, no ha funcionado ninguno*/
                width:8%;
                height:10%;
            }

            #tituloObjetivo{
                padding-bottom: 8px;
                font-size: 20px;
            }

            .parrafo{
                font-size: 15px;
            }




            /* ABOUT US*/
            /*footer y header*/
            div h3{
                padding: 50px 0px 40px 40px;
            }

            .parrafoAB{
                line-height: 1.5;
                padding: 0px 50px 2px 50px;
            }   /*hay una mejor forma de hacerlo?*/

        #gridPadreAB{
            grid-template-columns: 100% ;
            grid-template-rows:400px 300px 300px 300px 300px 300px 300px 300px 300px;
            grid-template-areas:"about1 "
                                "we"
                                "believe1"
                                "believe2"
                                "believe3"
                                "weB"
                                "born1"
                                "born2"
                                "born3";
            }

        .tamaño{
            width:70vw;
            height:30vh;
        }

        .claseH3{
            text-align: center;
            padding: 50px 0px 40px 40px;
            font-size: 30px;
        }        

        #nombreJuego {
            font-size: 20px;
            text-align: left;
        }

        #imgIntro{
            width: 90vw;
            
        }


        #job1{
            grid-area: believe1;
            justify-self: center;
            align-self: center; 
        }

        #job2{
            grid-area: believe2;
            justify-self: center;
            align-self: center; 
        }

        #job3{
            grid-area: believe3;
            justify-self: center;
            align-self: center;
        }



            /* OUR GAMES*/

            #gridPadreOG{
                display: grid;
                grid-template-columns:100%;
                grid-template-rows:200px 400px 200px 400px 200px 400px 200px 400px 200px 400px 50px;
                /* background-color: rgb(234, 170, 236); */
                grid-template-areas:"nameG1" 
                                    "game1"
                                    "nameG2"
                                    "game2"
                                    "nameG3"
                                    "game3"
                                    "nameG4"
                                    "game4" 
                                    "nameG5" 
                                    "game5"
                                    "playStore"; /* existe forma de no poner tantos hijos?*/
                justify-items: center; /*cartas */
                align-items:center; /*cartas */
                }



            /* WORK WITH US*/

            #gridPadreWwU{
                display: grid;
                grid-template-columns:100%;
                grid-template-rows:500px 400px 400px 400px 300px 300px 300px 200px;
                /* background-color: rgb(234, 170, 236); */
                grid-template-areas:"place1"
                                    "jobs1" 
                                    "jobs2" 
                                    "jobs3"
                                    "ben1" 
                                    "ben2" 
                                    "ben3"
                                    "cv";        
                }
        
                #gridHijoDosWwU{
                    width: 90%;
                    height: 90%;
                    font-size: 10px;
                }

                #gridHijoTresWwU{
                    width: 90%;
                    height: 90%;
                    font-size: 10px;
                }

                #gridHijoCuatroWwU{
                    width: 90%;
                    height: 90%;
                    font-size: 10px;
                }

                #subTitleH4{
                    font-size:15px;
                    }
            
            
                #subTitleH5{
                    font-size:10px;
                    }


            #beneficts{
                width: 80vw;
                height: 70vh;
                margin:30px 50px 30px 80px;
                padding: 0px 10px 0px 10px;
            }

            #gridCV{
                grid-area: cv;
                width: 90%;
                height: 200px;
            }

            .label{
                font-size: 10px;
                color: rgb(134, 17, 243);
                justify-self:center;
                padding-left: 30px;
            }

            


            /* CONTACT US*/

            #gridPadreC{
                display: grid;
                grid-template-columns:100%;
                grid-template-rows:100px 400px;
                grid-template-areas:"title"
                                    "form";
                }

            
            #form{
                width: 60vw;
                height: 50vh;
            }

            #fieldset{
                width: 10vw;
                height: 50vh;
            }
        
        }




    /*DESKTOP*/

        @media only screen and (min-width:962px){

            /* ABOUT US*/
            
            #gridPadreAB{
                grid-template-rows:700px 500px 400px 500px 400px;
            }

            .claseH3{
                padding: 100px 0px 40px 40px;
            }         

            .parrafoAB{
                line-height: 1.5;
                font-size: 30px;
                padding: 0px 100px 0px 100px;
            }


            /* CONTACT US*/
            
            #form{
                font-size: 20px;
            }
            

            #fieldset{
                width: 90%;
                height: 70%;
            }
    }





    /**** ANIMACIONES ****/

    /*ABOUT US*/
        #job1:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }

        #job2:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }

        #job3:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }

        #b1:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }

        #b2:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }

        #b3:hover{
            transform: scale(1.2,1.2);
            filter: grayscale(0);
        }


    /*OUR GAMES*/
        #imgJuego:hover{
            transform: scale(1.2,1.2);
        }


    /*WORK WITH US*/    
        #button:hover{
            filter:grayscale(1);
        }



