/*// CONTAC//*/

#gridPadreC{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:200px 500px;
    /* background-color: rgb(255, 255, 255); */
    grid-template-areas:"title title"
                        "form form";
    justify-items: center; /*cartas */
    align-items:center; /* cartas */
}


#gridHijoUnoC {
    /* background-color: rgb(126, 238, 62);  */
    grid-area: title;
    width: 100%;
    height: 100%;
}

#gridHijoDosC {
    /* background-color: rgb(237, 188, 243); */
    grid-area: form;
    width: 60%;
    height: 90%;
}

textarea{
    height:100px;
    width:80%;
}

.form-control{
    margin-top: 20px;
}

#contact{
    @extend .subTittle;
}


#btnSend{ 
    @extend .button;
    margin-top: 20px;
    /* alinear el btn al centro*/
}



/*MOBILE*/

@media only screen and (max-width:600px){

    #contact{
        @include fontSize(20px);
    }
    
}