/*// CONTAC//*/

#gridPadreC{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:200px 500px;
    grid-template-areas:"title title"
                        "form form";
    justify-items: center; 
    align-items:center; 
}


#gridHijoUnoC {
    grid-area: title;
    width: 100%;
    height: 100%;
}

#gridHijoDosC {
    grid-area: form;
    width: 60%;
    height: 90%;
}

textarea{
    height:100px;
    width:80%;
}

.form-control{
    margin-top: 20px;
}

#contact{
    @extend .subTittle;
}


#btnSend{ 
    @extend .button;
    margin-top: 20px;
}



/*MOBILE*/

@media only screen and (max-width:600px){

    #contact{
        @include fontSize(25px);
    }
    
}