/*// OUR GAMES//*/

/* nueva implementación de grilla*/
#gridPadreOG{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:200px 500px 500px 500px 500px 500px 200px;
    /* background-color: rgb(234, 170, 236); */
    grid-template-areas:"title title"
                        "nameG1 game1"
                        "game2 nameG2"
                        "nameG3 game3"
                        "game4 nameG4"
                        "nameG5 game5"
                        "playStore playStore"; 
    justify-items: center; /*cartas */
    align-items:center; /*cartas */
}

#title{
    grid-area: title;
    justify-self: start;
    margin-left: 5vw;
}

#gridHijoUnoOG {
    /* background-color: rgb(47, 247, 180); */
    grid-area: nameG1;
    width: 100%;
    height: 100%;
}


#gridHijoDosOG {
    // background-color: rgb(33, 31, 34);
    grid-area: game1;
    width:  $widthCard;
    height: $heightCard;
}


#gridHijoTresOG {
    // background-color: rgb(83, 48, 211);
    grid-area: game2;
    width:  $widthCard;
    height: $heightCard;
}


#gridHijoCuatroOG{
    grid-area: nameG2;
    /* background-color: rgb(49, 145, 209); */
    width:  100%;
    height:  100%;
}


#gridHijoCincoOG{
    grid-area: nameG3;
    /* background-color: rgb(241, 226, 87); */
    width:  100%;
    height: 100%;
}

#gridHijoSeisOG{
    grid-area: game3;
    /* background-color: rgb(198, 87, 226); */
    width:  $widthCard;
    height: $heightCard;
}

#gridHijoSieteOG{
    grid-area: game4;
    /* background-color: rgb(236, 71, 85); */
    width:  $widthCard;
    height: $heightCard;
}

#gridHijoOchoOG{
    grid-area: nameG4;
    /* background-color: rgb(46, 80, 235); */
    width:  100%;
    height: 100%;
}

#gridHijoNueveOG{
    grid-area: nameG5;
    /* background-color: rgb(81, 88, 80); */
    width: 100%;
    height: 100%;
}

#gridHijoDiezOG{
    grid-area: game5;
    /* background-color: rgb(82, 241, 77); */
    width:  $widthCard;
    height: $heightCard;
}

    
.label{
    grid-area: playStore;
    font-size: 20px;
    color: rgb(134, 17, 243);
    justify-self:center;
    padding-left: 30px;
}


#nombreJuego {
    @extend .tittleH3;
    font-size: 30px;
}

#games{
    @extend .subTittle;
}

.card{
    @include estiloCartas(rgba(176, 233, 243, 0.76), 80%, 80%, center, center,4vw);
}


.imGames{
    @include imgJuego(100%, 100%, outset, all 1s, cover);
}



/*MOBILE*/
@media only screen and (max-width:600px){

#gridPadreOG{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:100px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 50px;
    /* background-color: rgb(234, 170, 236); */
    grid-template-areas:"title"
                        "nameG1" 
                        "game1"
                        "nameG2"
                        "game2"
                        "nameG3"
                        "game3"
                        "nameG4"
                        "game4" 
                        "nameG5" 
                        "game5"
                        "playStore";
justify-items: center; /*cartas */
align-items:center; /*cartas */
}

#nombreJuego {
    @include fontSize(15px);
}

#games{
    @include fontSize(20px);
}


.card{
    @include estiloCartas(rgba(176, 233, 243, 0.76), 80%, 80%, center, center,4vw);
}


.label{
    font-size: 12px;
}

}