/*// OUR GAMES//*/

#gridPadreOG{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:200px 500px 500px 500px 500px 500px 200px;
    grid-template-areas:"title title"
                        "nameG1 game1"
                        "game2 nameG2"
                        "nameG3 game3"
                        "game4 nameG4"
                        "nameG5 game5"
                        "playStore playStore"; 
    justify-items: center; 
    align-items:center; 
}

#title{
    grid-area: title;
    justify-self: start;
    margin-left: 5vw;
}

#gridHijoUnoOG {
    grid-area: nameG1;
    width: 100%;
    height: 100%;
}


#gridHijoDosOG {
    grid-area: game1;
    width:  $widthCard;
    height: $heightCard;
}


#gridHijoTresOG {
    grid-area: game2;
    width:  $widthCard;
    height: $heightCard;
}


#gridHijoCuatroOG{
    grid-area: nameG2;
    width:  100%;
    height:  100%;
}


#gridHijoCincoOG{
    grid-area: nameG3;
    width:  100%;
    height: 100%;
}

#gridHijoSeisOG{
    grid-area: game3;
    width:  $widthCard;
    height: $heightCard;
}

#gridHijoSieteOG{
    grid-area: game4;
    width:  $widthCard;
    height: $heightCard;
}

#gridHijoOchoOG{
    grid-area: nameG4;
    width:  100%;
    height: 100%;
}

#gridHijoNueveOG{
    grid-area: nameG5;
    width: 100%;
    height: 100%;
}

#gridHijoDiezOG{
    grid-area: game5;
    width:  $widthCard;
    height: $heightCard;
}

    
.label{
    grid-area: playStore;
    font-size: 20px;
    color: rgb(223, 199, 247);
    justify-self:center;
    padding-left: 30px;
}

section label a {
    color: rgb(193, 216, 236);
}

#nombreJuego {
    @extend .tittleH3;
    font-size: 30px;
}

#games{
    @extend .subTittle;
}

.card{
    @include estiloCartas(rgba(12, 12, 12, 0.76), 80%, 80%, center, center,4vw);
}


.imGames{
    @include imgJuego(100%, 100%, outset, all 1s, cover);
}

.card-text{
    color: rgb(222, 215, 206);
    font-size: 20px;
}

/*MOBILE*/
@media only screen and (max-width:600px){

#gridPadreOG{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:100px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 50px;
    grid-template-areas:"title"
                        "nameG1" 
                        "game1"
                        "nameG2"
                        "game2"
                        "nameG3"
                        "game3"
                        "nameG4"
                        "game4" 
                        "nameG5" 
                        "game5"
                        "playStore";
justify-items: center; 
align-items:center; 
}

#nombreJuego {
    @include fontSize(20px);
}

#games{
    @include fontSize(20px);
}


.card{
    @include estiloCartas(rgba(12, 12, 12, 0.76), 80%, 80%, center, center,4vw);
}


.label{
    font-size: 12px;
}

.card-text{
    font-size: 15px;
}

}