  /**** ANIMACIONES ****/
    
    /*ABOUT US*/
    #job1:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }

    #job2:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }

    #job3:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }

    #b1:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }

    #b2:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }

    #b3:hover{
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }


    /*OUR GAMES/
        
    /*animaciones*/
    .imGames:hover{
        transform: scale(1.2,1.2);
    }

    
    /*WORK WITH US*/    
    .button:hover{
        filter:grayscale(1);
    }
