/*HEADER*/

/* Menu de navegación*/
.lista{
    width: 200px;
    height: 60px;
}
/* Menu de navegación de la página*/
#menu:hover{
    background-color: rgb(147, 230, 241);
    color: rgb(22, 20, 20);
    transition: background-color .5s;
}

/*logo del estudio/home*/
#logo {    
    width:20%;
    height:20%;
}

.logoHome:hover{
    transform: scale(1.2,1.2);
    transition: all .5s;
}

/*FOOTER*/
footer {
    //copyright
    h4{
        color: rgb(131, 126, 126);
        text-align: center; 
        font-size: 10px;
    }
    //join our comunity
    h5{
        @extend .tittleH3;
    }

.redesSociales{
        color: rgb(80, 216, 240);
    //     font-size: 20px;              
    } 
}


.footer{
    background-color:rgb(15, 15, 15);
    height: 35vh;
}

.haciaArriba{
    margin-left: 85vw;
}