
/* variables globales*/
$colorLetras: rgb(80, 216, 240);
$colorTittle: rgb(239, 79, 245);
$widthCard: 80%;
$heightCard: 80%;
$fontSizeParrafo: 1.5vw;
$fontFamily: 'Roboto', sans-serif;

/*quita subrayado de los enlaces*/
.subrayado{
    text-decoration: none;
} 

/*color para los enlaces y algunos iconos*/
.color{
    color :$colorLetras;
    font-size: 20px;     
} 

.parrafo{
    line-height: 1.5;
    padding: 0px 50px 0px 30px;
    font-size:30px;
    color: rgb(174, 239, 248);
    font-style: italic;
}

.subTittle{ 
    color: rgb(236, 222, 241);
    font-style:normal;
    font-family:$fontFamily;
    font-size: 50px;
    text-align: left;
    padding: 50px 0px 40px 40px;   
    font-weight: bold;      
}

.tittleH3{
    text-align: center;
    color: $colorTittle;
    padding: 50px 0px 20px 40px;
}

.button{
    color: aliceblue;
    height: 30px;
    width: 100px;   
    background-image: linear-gradient(to top, #4A00E0, #8E2DE2);
}


//mixins, variables locales
@mixin estiloCartas($colorBG, $widthCard, $heightCard, $alig, $justify, $margin) {
    background-color: $colorBG;
    width: $widthCard;
    height: $heightCard;
    align-items: $alig;
    justify-items: $justify;
    margin-top: $margin;
}


@mixin imgJuego($width, $height, $border, $transition, $objectFit) {
    width: $width;
    height: $height;
    border-style: $border;   
    transition: $transition;
    object-fit: $objectFit; 
}


/*mixin media queries*/
@mixin fontSize($size){
    font-size: $size;
}

@mixin imgTamaño($widthImg, $heightImg){
    width:$widthImg;
    height:$heightImg;
}

